.nav-button {
  background-color: darkslategray;
  border: 0px;
  color: wheat;
}
.imgStyle {
  width: 40px;
  border-radius: 50%;
}
li {
  height: 30px;
}
.dropdown {
  width: "200px";
  height: "40px";
  margin-right: "10px";
  background: "darkslategrey";
  color: "wheat";
  font-size: "20px";
  border: "none";
  margin-top: "3px";
  display: none;
}
