.container {
  display: grid;
  place-items: center;
  width: 50%;
  background-color: white;
  border-radius: 50px;
  padding-bottom: 20px;
}

form {
  margin: auto;
}
label {
  padding: 10px;
}
textarea {
  width: 80%;
}
.toast-container {
  .Toastify__toast {
    font-family: Arial, sans-serif;
  }

  .Toastify__toast--success {
    background: #5cb85c;
  }

  .Toastify__toast--error {
    background: #d9534f;
  }

  .Toastify__close-button {
    color: #fff;
  }
}
.btn {
  margin: auto;
  background-color: green;
  text-align: center;
}
body {
  background-color: #f0f4f9;
}
