.center {
  margin: auto;
  width: 80%;
}
.table-width {
  width: 50%;
  margin: auto;
}
th,
td {
  text-align-last: center;
  vertical-align: middle;
  padding: 0%;
  font-size: 16px;
}
.component {
  background-color: lightbluenpm;
  border: 3px solid black;
  border-radius: 9px;
  margin: 20px;
  padding: 20px;
}

.body-component {
  background-color: gainsboro;
  border: 3px solid black;
  border-radius: 9px;
  margin: 20px;
  padding: 20px;
}
.width {
  width: 80%;
  margin: auto;
}
/* body {
  background-color: beige;
} */
.component:not(:hover) {
  background-color: white;
}
