/* .component {
  background-color: powderblue;
  padding-left: 10px;
  border-radius: 10px;
  padding-bottom: 3px;
}

.body-component {
  background-color: pink;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}
.width {
  width: 80%;
  margin: auto;
  margin-bottom: 2%;
}
body {
  background-color: yellowgreen;
}

button {
  background-color: lightblue;
  border-color: transparent;
  border-radius: 9px;
  box-shadow: 0 8px 16px 0 rgba(6, 0, 0, 0.557),
    0 6px 20px 0 rgba(6, 0, 0, 0.557);
  margin-bottom: 1%;
}
.body-card {
  background-color: plum;
  width: 25%;
  margin: auto;
  border-radius: 10px;
} */
.box {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
}
.cardStyle {
  width: 25%;
  background-color: skyblue;
  margin: auto;
  border-radius: 10px;
}
